@media only screen and  (min-width: 600px)and (max-width: 800px){
    body{
        flex-direction: row;
    }
    header{
        width: 100%;
        /* order: 0; */
        }
    .article, .aside__1,.aside__2{
        width: 50%;
    }

    .aside__1{
        order:0;
    }
    
    .aside__2{
        order: 0;
    }
    footer{
        width: 100%;
        /* order: 1; */
    }
}/* Die Größe für Tablet*/