.main{
  margin: 50px auto;
  border: 2px solid black;
  width: 800px;
  background-color: blue;
}

.mainContiener{
  display: flex;
  height: 600px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.span, .input{
  border: 1px solid black;
  width: 200px;
  height: 40px;
  margin: 10px;
  text-align: center;
  line-height: 38px;
  box-sizing: border-box;
  font-size: 20px;
  outline: none;
}
.box{
  border: 1px solid black;
  margin: 10px;
  display: flex;
  box-sizing: border-box;

}