body{
    background: #aaa;
    margin: 25px;
    padding: 0;
    color: white;
}

#container{
    width: 600px;
    margin: 0 auto;
    background: aquamarine;
}

.blue_violet{
    background: blueviolet;
    height:100px;

}
.blau{
    background: blue;
    width: 400px;
    height:500px;
    float: left;

}
.light_salmon{
    background: lightsalmon;
    width: 200px;
    float: left;

  }
.magenta{
    background: magenta;
    height:20px;
    clear: both;
}

